systemLog:
  destination: file
  logAppend: true
  path: {{mongodb.path_log}}
storage:
  dbPath: {{mongodb.path_data}}
  journal:
    enabled: true
  directoryPerDB: true
processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongod.pid
  timeZoneInfo: /usr/share/zoneinfo
net:
  port: {{mongodb.port}}
  bindIp: {{ ansible_default_ipv4.address }}
