[
        { rabbit, [
            { loopback_users, [ ] },
            { tcp_listeners, [ {{ rabbitmq.port.tcp_listener }} ] },
            { default_pass, <<"{{ rabbitmq.admin_password }}">> },
            { default_user, <<"{{ rabbitmq.admin_username }}">> },
            { log_levels, [{connection, warning}] },
            { hipe_compile, false }
        ] },
        { rabbitmq_management, [ { listener, [
            { port, {{ rabbitmq.port.management }} },
            { ssl, false }
        ] } ] }
].
