input {
  beats {
    port => 5044
  }
}

filter {

  if ([log] =~ /^([^ ]+\s*[^ ]+)\s*\|\s*([^ ]+)\s*\|\s*([^ ]+)\s*\|\s*([^ ]+)\s*\|\s*([^ ]+)/) {
    grok {
      patterns_dir => ["/etc/logstash/patterns"]
      match => { "log" => "%{ACNDEFAULTAPPLOGPATTERN}" }
    }
  }

  else {
    drop { }
  }

}

output {
  rabbitmq {
    vhost => '/graylog'
    exchange => 'graylog'
    exchange_type => 'direct'
    host => '127.0.0.1'
    user => '{{rabbitmq.admin_username}}'
    password => '{{rabbitmq.admin_password}}'
    persistent => true
    port => {{rabbitmq.port.tcp_listener}}
  }
}
